<template>
  <b-jumbotron id="splash" header="BootstrapVue" lead="Bootstrap v4 Components for Vue.js 2">
    <b-container>
      <b-row class="logo">
        <logo />
      </b-row>
    </b-container>
  </b-jumbotron>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  }
}
</script>

<style lang="scss" scoped>
  #splash {
    width: 100%;
    background-color: blueviolet;
    color: #fff;
    overflow: hidden;
    border-radius: 0;
  }

  .logo {
    justify-content: flex-end;
  }
</style>
