<template>
  <div>
    <Nav />
    <nuxt />
  </div>
</template>

<script>
  import Nav from '~/components/Nav.vue'

  export default {
    components: {
      Nav
    }
  }
</script>

<style lang="scss">
  body {
    font-family: 'Quicksand',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
      Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,
      Segoe UI Symbol,Noto Color Emoji;
    font-weight: 500;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
</style>
