<template>
  <div>
    <Splash />
    <b-container>
      <b-row>
        <b-col class="text-center"><font-awesome-icon class="fa-4x" :icon="['fab', 'facebook-square']" /></b-col>
        <b-col class="text-center"><font-awesome-icon class="fa-4x" :icon="['fab', 'instagram']" /></b-col>
        <b-col class="text-center"><font-awesome-icon class="fa-4x" :icon="['fab', 'twitter-square']" /></b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Splash from '~/components/Splash.vue'

export default {
  components: {
    Splash
  }
}
</script>
