<template>
  <b-container>
    <b-row class="justify-content-md-center">
      <b-col>
        <b-button @click="show = !show" variant="primary" class="m-1">
          <span v-if="show">
            Hide Alert
          </span>
          <span v-else>
            Show Alert
          </span>
        </b-button>
        <br><br>
        <transition name="fade">
          <b-alert
            variant="info"
            :show="show"
          >
              Vue transition
          </b-alert>
        </transition>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-button @click="showAlert" variant="info" class="m-1">
          Show alert with count-down timer
        </b-button>
        <br><br>
        <b-alert
          :show="dismissCountDown"
          dismissible
          variant="warning"
          @dismissed="dismissCountDown=0"
          @dismiss-count-down="countDownChanged"
        >
          This alert will dismiss after {{ dismissCountDown }} seconds...
          <b-progress
            variant="danger"
            :max="dismissSecs"
            :value="dismissCountDown"
            height="4px"
          ></b-progress>
        </b-alert>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  export default {
    data() {
      return {
        show : false,
        dismissSecs: 10,
        dismissCountDown: 0,
      }
    },
    methods: {
      countDownChanged(dismissCountDown) {
        this.dismissCountDown = dismissCountDown
      },
      showAlert() {
        this.dismissCountDown = this.dismissSecs
      }
    }
  }
</script>

<style>
  .fade-enter{
      opacity: 0;
  }

  .fade-enter-active{
      transition: opacity 1s;
  }

  .fade-leave-active{
      transition: opacity 1s;
      opacity: 0;
  }
</style>
